/*font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Nawigacja*/

div.wrapper-nav {
    background-color: #352B2C;
    width: 100%;
}

nav {
    max-width: 1120px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #352B2C;
    padding: 10px 0;
    text-align: right;

}

nav a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 12px;
    margin: 0 22px;
}

nav a.reservation {

    font-size: 2.2rem;
    padding: 10px 30px;
    margin-right: 50px;
    margin-left: 60px;
    border: 2px solid #d3a861;
    letter-spacing: 1px;
}

nav a:hover {

    /*background-color: #504833;*/
    border-bottom: 2px solid #d3a861;
    color: #d3a861;
}

/*Header*/

header {
    height: 70vh;
    background-image: url('pub.jpeg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
    line-height: 70vh;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 50%);
    letter-spacing: 5px;
}

main {
    background-color: white;
    max-width: 1120px;
    margin: 0 auto;
    color: #352B2C;
    font-size: 0;
}

main p {
    text-align: center;
    padding-top: 5vh;
    margin: 0 25px 0 25px;
    line-height: 3.5rem;
}

main p.description {
    font-size: 2.2rem;

}

main p.introduction {
    color: #182d0d;
    font-size: 3rem;
}


main div.feature {
    padding: 10vh 5px;
    display: inline-block;
    width: 33.33%;
}

main div.image {
    height: 30vh;
    margin: 10px;
}

main h2 {
    font-size: 2rem;
    text-align: center;
}

footer {
    background-color: #352B2C;
}

footer p {
    padding: 10px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
